.card{
	width:auto;
	min-height: 300px;
	background: #fff;
	border-bottom: 2px solid #ddd;
	margin-bottom: 12px;
	border-radius: 3px;
	opacity: 0; /*for flow-in*/
	position: relative;
}
.card .icon{
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.card i{
	position: absolute;
	right:10px;
	top:10px;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.card i:hover{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);

	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.card .card-content{
	padding:25px 35px;
	margin:0px;
}

.card .card-content p{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	width:90%;
	text-align: justify;
}
.card .card-content .gallery{
	margin:0 auto;
}
.card .card-content .gallery div{
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline-block;
}

.card .card-content h1,h2,h3,h4{
	padding-top:0;
	margin-top:0;
}

/**animation style**/

.flow-in{
	-webkit-animation:ani-flow-in 0.8s;
	-webkit-transform-origin: 0% 100%;
	animation:ani-flow-in 0.8s;
	transform-origin: 0% 100%;
	opacity: 1;
}
/**firefox**/
@keyframes ani-flow-in
{
	from {transform: translateY(100px) rotateX(-90deg) scaleX(0.95); }
	to {transform: translateY(0px) rotateX(0deg) scaleX(1); }
}
@keyframes ani-leaf
{
	0%{	transform: rotateZ(0deg);}
	20%{ transform: rotateZ(10deg);}
	30% { transform: rotateZ(5deg); }
	50%{ transform: rotateZ(25deg);}
	70%{ transform: rotateZ(0deg);}
}

/**chrome / safari**/
@-webkit-keyframes ani-flow-in
{
	from {-webkit-transform: translateY(100px) rotateX(-90deg) scaleX(0.95); }
	to {-webkit-transform: translateY(0px) rotateX(0deg) scaleX(1); }
}
@-webkit-keyframes ani-leaf
{
	0%{	-webkit-transform: rotateZ(0deg);}
	20%{ -webkit-transform: rotateZ(10deg);}
	30% { -webkit-transform: rotateZ(5deg); }
	50%{ -webkit-transform: rotateZ(25deg);}
	70%{ -webkit-transform: rotateZ(0deg);}
}

