@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

@media(max-width: 879px){
	.drawer{
		position:absolute !important; 
		left:-300px!important;
		top:44px !important;
		z-index: 99999;
		height:100% !important;
		width:300px !important;
	}

	.drawer.slide-in{
		display:block;
		left:0px !important;
	}

	.veil.active{
		display: block !important;
		opacity: 0.5 !important;
	}
	.tab{
		left:0 !important;
	}

	.tab ul{
		padding-left: 30px !important;
	}
	.fragment{
		left:0 !important;
	}

	.drawer-button{
		display: block !important;
	}

	.coursecat-1{
		margin-left: 0 !important;
	}

	.coursecat-3{
		margin-left: 0 !important;
	}
}

@media(max-width: 600px){
	.tab ul li a{
		width:auto !important;
		min-width: 80px !important;
		font-size: 12px;
	}

	.drawer{
		left:-300px!important;
		width:300px !important;
	}

}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
	color: #32B4E5;
	opacity: 0.7;
}
a:hover{
	text-decoration: none;
	opacity: 1;
}
div {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

i{
	display: inline-block;
	width:35px;
	height:35px;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 30px;
	line-height: 50px;
}
.google{
	background: url(../img/googlep.png) no-repeat;
	background-size: 100%;
}
.twitter{
	background: url(../img/twitter.png) no-repeat;
	background-size: 100%;
}
.github{
	background: url(../img/github.png) no-repeat;
	background-size: 100%;
}
.linkedin{
	background: url(../img/linkedin.png) no-repeat;
	background-size: 100%;
}
.email{
	background: url(../img/email.png) no-repeat;
	background-size: 100%;
}
.download{
	background: url(../img/download.png) no-repeat;
	background-size: 100%;
}
.googleplay{
	background: url(../img/googleplay.png) no-repeat;
	background-size: 100%;
}
.hreflink{
	background: url(../img/hreflink.png) no-repeat;
	background-size: 100%;
}


.text-bold{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.center {
	margin:0 auto;
}
/* basic wrapper, for providing an selector */
.wrapper{

}
.container{
	width:1280px;
}

.veil{
	width:100%;
	height:100%;
	position: fixed;
	top:44px;
	z-index: 88888;
	background: #000;
	display: none;
	opacity: 0;
}

.drawer-button{
	display: none;
	position: absolute;
	left:0;
	top:10px;
	height:16px;
	width:45px;
	background: url(../img/ic_drawer.png);
	background-size: 100%;
	outline: none;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.drawer-button.active{
	left:-5px;
}

.drawer{
	width:300px;
	position: fixed;
	height: 100%;
	overflow: hidden;
	background: #fff;
	float:left;
}
.drawer .wrapper{
	padding-top: 30px;
	text-align: center;
  background: #F2F2F3;
  height: 100%;
}

.profile-badge{
	line-height: 25px;
}
.profile-pic{
	width:100px;
	height:100px;
	background: url(../img/icon_smallcircle.png) no-repeat;
	background-size: 100%;
	margin-bottom:10px;
}

.my-name{
	font-size: 20px;
	margin-bottom: 8px;
	font-weight: bold;
}

.drawer-list{
	list-style-type: none;
	text-align: left;
	padding: 100px 0 0 0;
	margin:0;
}

.drawer-list li{
	border-bottom:1px solid #DBDAD8;
	text-indent: 80px;
	line-height: 60px;
	position: relative;
}

.drawer-list li:first-child{
	border-top:1px solid #eee;
}

.drawer-list li i{
	position: absolute;
	right:70px;
	top:0;
	margin-top: 13px;
	z-index: 999;
}
.drawer-list a{
	width:100%;
	display: block;
	color:#000;
	opacity: 1;
	transition:none;
	-webkit-transition:none;
}
.drawer-list a:hover{
	background: #32B4E5;
	color: white;
}

.tab{
	width: 880px;
	height: 40px;
	background: #FAFAFA;
	border-bottom: 4px solid #DEDCDD;
	position: fixed;
	left:300px;
	top:0;
	z-index: 999;
}

.tab ul{
	list-style-type: none;
	padding:0;
	margin:0;
}
.tab ul li{
	float:left;
}
.tab ul li a{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	width:auto;
	min-width: 150px;
	max-width:200px;
	line-height: 40px;
	display: block;
	text-align: center;
	color:#969696;
}

.tab ul li a:hover{
	color:#969696;
	border-bottom: 4px solid #33B4E5;
}

.fragment{
	width:auto;
	max-width: 880px;
	height: 100%;
	
	position: absolute;
	left:300px;
	float:left;
	z-index: 0;
}
.fragment .wrapper{
	overflow-y: auto;
	position: relative;
	top:40px;
	display:none;
}

.fragment .content{
	padding: 12px;
	overflow: hidden;
}



/** image src**/
.coursecat-1{
	background: url(../img/coursecat_1.jpg);
	background-size: 100%;
	height:250px;
	width:250px;
	margin-left: 100px;
}

.coursecat-2{
	background: url(../img/coursecat_2.jpg);
	background-size: 100%;
	height:250px;
	width:250px;
}

.coursecat-3{
	background: url(../img/coursecat_3.jpg);
	background-size: 100%;
	height:250px;
	width:250px;
	margin-left: 30px;
}

.sensbeat-1{
	background: url(../img/sensbeat-1.png) no-repeat;
	background-size: 100%;
	height:300px;
	width:100%;
	margin:0;
	border-radius: 0px 0px 3px 3px; 
}